@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

main {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
}

h1 {
    padding: 2rem 30rem;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

.score {
    color: #c7365f;
    font-size: 3.5rem;
    text-align: center;
}

.choose {
    display: flex;
    justify-content: space-evenly;
}

img {
    margin-top: 18px;
}

.box {
    color: #ddd;
    background-color: #c7365f;
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.3rem;
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    font-weight: 400;
}

.info {
    max-width: fit-content;
}

.btn, .info {
    color: #444;
    border: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.0rem;
    border-radius: 50rem;
    margin: 2rem auto;
    display: block;
}